strong {
    color: red; 
    font: 200% monospace;
}

body {
    background: url("../img/Blue-rule.png");
}

p::before {
    content: url("../img/Yellow-pin.png");
}

div.menu-bar ul ul {
  display: none;
  
    
}



div.menu-bar li:hover > ul {
  display: block;
}